body{
    font-family: "Plus Jakarta Sans", sans-serif !important ;
;
display:flex;
flex-direction: column;
min-height: 100vh;


}
.main{
    flex:1;

}

 
.footer {
    width: 100%;             
      margin-top: 10px;
}
.navbar {
    height: 5rem;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .navbar-collapse {
    position: static !important;   /* makes it flow with the document */
    width: 100%;
  }
}

.fa-compass {
    color:rgb(215, 80, 80);
    font-size: 2rem;

}
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none ;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color:#222222;
}
.f-info-links ,.f-info-socials{
    width:100%;

}

.f-info-socials i{
   
    font-size:1.2rem;
    
}

.f-info{
    text-align: center;
    display: flex;
    height:8rem;
    background-color: rgb(175, 174, 172);
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}
.card-text{
    font-weight:400 !important;

}
.list{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.6;
    background-color: white;
}

.show-img{
     height:30vh;
     width:auto;

}
.btns{
    display: flex;

}
.edit-btn{
    background-color: red !important;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}